.progress {
    display: flex;
    justify-content: flex-start;
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;

    &--reverse {
      justify-content: flex-end;
    }

    &__bar {
      height: 100%;
      background-color: black;
    }

    &--color-red > div {
      background-color: orangered;
    }


    &--color-green {
      border-color: green;
    }

    &--color-green > div {
      background-color: greenyellow;
    }

    &--color-blue {
      border-color: lightseagreen;
    }

    &--color-blue > div {
      background-color: lightskyblue;
    }


    &--big {
      height: 50%;
    }
  }
