.ProgressBar {
    display: flex;
    justify-content: flex-start;
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    .reverse {
      justify-content: flex-end;
    }
    >div {
      height: 100%;
      background-color: orangered;
    }
  }