.App {
    font-family: sans-serif;
  }

  .TimeBoxEditor,
  .TimeBoxCreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  input {
    min-width: 60%;
    margin-left: 20px;
    margin: 10px;
    font-size: 16px;
  }

  button {
    font-size: 16px;
    margin: 10px;
  }

  .TimeBox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .CurrentTimeBox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }

  .Clock {
    color: orangered;
  }

  .ProgressBar {
    display: flex;
    justify-content: flex-start;
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
  }

  .ProgressBar.reverse {
    justify-content: flex-end;
  }

  .ProgressBar>div {
    height: 100%;
    background-color: orangered;
  }

  .inactive {
    filter: blur(2px) grayscale(1);
  }